body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
transition: background-color 0.5s, color 0.5s;
}
header {
    background: linear-gradient(45deg, #ff6b6b, #feca57);
    color: white;
    text-align: center;
    padding: 1em;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
nav a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.food-item {
    background: rgb(197, 197, 197);
    margin: 5em;
    padding: 1em;
    padding-left: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color:rgba(255, 0, 0, 0.721);
    
}
.food-item img {
    max-width: 250px;
    border-radius: 8px;
}
footer {
    background-color: #333;
    color: rgb(229, 226, 231);
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}




.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

.colorful-theme {
    animation: moveColors 5s linear infinite;
    color: white;
}

@keyframes moveColors {
    0% { background-color: rgba(255, 0, 150, 0.8); }
    25% { background-color: rgba(0, 204, 255, 0.8); }
    50% { background-color: rgba(75, 0, 130, 0.8); }
    75% { background-color: rgba(255, 165, 0, 0.8); }
    100% { background-color: rgba(34, 193, 195, 0.8); }
}

.theme-toggle {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}